<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sint obcaecati fugit laudantium adipisci dolor animi ea, reprehenderit consequuntur! Quod ducimus qui id beatae repellendus, eius ipsum optio expedita repellat.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci velit, eos corporis a iste expedita debitis porro odio placeat ratione quaerat! Ut repudiandae aliquid quas qui molestias! Tempore, ab iure.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magni earum blanditiis, minima natus reiciendis saepe quos perspiciatis accusantium deleniti culpa ducimus quod quia consequuntur maiores sed! Non, natus nisi?</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>